{% extends "APIBundle::layout.html.twig" %}

{% block title "starmade - Ships" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Ship #{{ id }}</h1>

    <p>{{ ship }}</p>
    <p>
        <a href="{{ path('get_ships') }}">{{ 'ships.list.link'|trans({}, 'APIDemoBundle') }}</a> <br>
    </p>
{% endblock %}

{% set code = code(_self) %}
